/* 

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Osinachi Uro | www.twitter.com/osinachi_ibiam | www.osinachiuro.com


*/

body {
	background: url('../images/cookie-monster.jpg'); /* adds a background images*/
	/* the following is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* style the container */
#container {
	background: black;
	width: 424px;
	color: white;
	padding: 15px; /* adds padding to the container edges*/
}

/* Style the H1 text */
h1 {
	font-size: 80px;
}

/* Style the H2 text */
h2 {
	background: #75c1f6;
	color: black;
	padding: 5px;
	border-radius: 5px; /* this kinda softenes the edges*/

}

/* Style the links */
a {
	color: #75c1f6;
	text-decoration: none;
}